<div class = "form">
  <div class = "user_block">
    <%= form_for @friendship do |f| %>
    
    <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved</h2>

      <ul>
        <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div id = "form_user">
    <div class="form_name">
      <div class = "form_label"> <%= f.label :username %></div>
      <div class = "form_input"> <%= f.text_field :username %></div>
    </div>
    <div id = "form_user">
      <div class="form_name">
        <div class = "form_label"> <%= f.label :email %></div>
        <div class = "form_input"> <%= f.text_field :email %></div>
      </div>

      <div class = "submit", id = "form_user">
        <%= f.submit %>
      </div>
      <% end %>
    </div>

  </div>
</div>

<%= #link_to 'Invite Someone New', new_friendship_path %>