<% @move_player = 1 if @game.moves.count.even? %>
<% @move_player = 2 if @game.moves.count.odd? %>

  <div id = "game_show_container">

  <% @game.all_squares.each do |n| %>
  <% move = @game.moves.where(square: "#{n}").first %>

  <% if @game.find_board_size == 3 %>
    <div class="game_show_square row_<%=@game.game_square_row(n)%> column_<%=@game.game_square_column(n)%>", style="width: 128px; height: 128px">
  <% end %>
  <% if @game.find_board_size == 4 %>
    <div class="game_show_square row_<%=@game.game_square_row(n)%> column_<%=@game.game_square_column(n)%>", style="width: 96px; height: 96px">
  <% end %>
  <% if @game.find_board_size == 5 %>
    <div class="game_show_square row_<%=@game.game_square_row(n)%> column_<%=@game.game_square_column(n)%>", style="width: 76.8px; height: 76.8px">
  <% end %>

    <%= link_to "", new_move_path(game_id: @game.id, square: "#{n}", player_number: @move_player) if move == nil && (@game.result == "active" || @game.result == "expanding") %>
    <span> <%= "" if move == nil && @game.result != "active" %>
      <%= "O" if move != nil && move.player_number == 1 %>
    <%= "X" if move != nil && move.player_number == 2 %> </span>

</div>

<% end %>
  </div>

<div id = "game_show_score">
<% if @game.result == "draw" %>
  It's a draw!
  <% end %>

  <% if @game.result != "active" %>

<% if @game.game_type == "pass" %>
   <%= "Player 1 has won!" if @game.result == "player_1" %>
   <%= "Player 2 has won!" if @game.result == "player_2" %>
<% else %>
  <%= "You won!" if @game.result == "player_1" && @game.player_1_id == current_or_guest_user.id %>
  <%= "You won!" if @game.result == "player_2" && @game.player_2_id == current_or_guest_user.id %>
  <%= "You lost!" if @game.result == "player_1" && @game.player_1_id != current_or_guest_user.id %>
  <%= "You lost!" if @game.result == "player_2" && @game.player_2_id != current_or_guest_user.id %>
<% end %>
<% end %>

  <% if @game.result == "active" || @game.result == "expanding" %>
  <% if @game.game_type == "pass" %>
     <%= "It's Player 1's turn!" if @game.moves.empty? || @game.moves.sort.last.player_number == 2 %>
     <%= "It's Player 2's turn!" if @game.moves.any? && @game.moves.sort.last.player_number == 1 %>
  <% end %>

  <% if @game.game_type != "pass" %>
    <%= "It's your turn!" if @game.next_player == current_or_guest_user.id %>
    <%= "It's their turn!" if @game.next_player != current_or_guest_user.id %>
  <% end %>
  <% end %>

</div>
