<div class = "user_show">
<p id="notice"><%= notice %></p>

<div class = "user_block">
<p>
  <b>Email: 
  <%= @user.email %>
</p>

<p>
  <b>Password digest: 
  <%= @user.password_digest %>
</p>

<p>
  <b>Games: <br>
  <% @user.games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %>
  <%= "#{game.result}" %>
  <%= "#{game.player_1.try(:email)}" %>
  <%= "#{game.player_2.try(:email)}" %>
  <% if game.next_player == @user.id && game.result == "active" %>
  <%= link_to "Play", game_path(game) %>
  <% end %><br>
  <% end %>
</p>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |

<% if can? :read, :all %>
<%= link_to 'All Accounts', users_path %> |
<% end %>

<%= link_to 'Back', users_path %>
</div>
</div>